{% extends "base.html" %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

<style>
        {% block style %}

        h1{
            color: #777777;
        }
        {% endblock style %}
         </style>


{% block content %}


<h1>{{ title }}</h1>

{{ instance.courseTitle }}<br/>
{{ instance.courseDescription }}<br/>
{{ instance.courseCost }}<br>
{{ instance.coursePrerequisite }}<br/>
{{ instance.updated }}<br/>
{{ instance.timestamp }}<br/>
{{ instance.courseDuration }}<br/>
{{ instance.id }}<br/>

{% endblock content %}