<! --DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>{{ title }}</h1>


<h4>Course: {{ instance.courseTitle }}</h4>
<p>{{ instance.courseDescription }}</p>
{{ instance.courseCost }}<br>
{{ instance.coursePrerequisite }}<br/>
{{ instance.updated }}<br/>
{{ instance.timestamp }}<br/>
{{ instance.id }}<br>

</body>
</html>